/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Macondo&family=Oswald&display=swap');


body {

background-color:#897346 ;
padding-top: 80px;
}

/* google font style for h1/h2/h3 */
h1,
h2,
h3 {
    color: lightgray;
    font-family:"Cal Sans", sans-serif;
    
}


/* Style the header banner image */
.hero {
    background-position: center center;
    background-size: cover;
    

    
    
}

/* the quote banner text */

.blockquote p {
    text-align: center;
    color:lightgray;
    font-family: Cal Sans, sans-serif;
    font-size: 48px;
    
    
}
.blockquote-footer {
    text-align: center;
    color:lightgray;
    font-family: Cal Sans, sans-serif;
    font-size: 25px;
}

/* navbar */
.navbar-custom {
    height: 80px;
    background-color: #393319; !important
}

.navbar-custom .nav-link {
    color: lightgray;
    font-family: "Macondo","Cal Sans", sans-serif;
    font-size: 20px;
}

/* navbar nav.link style hover */
.navbar-custom .nav-link:hover {
    color: #897346;
}

  

/* footer */
.bg-dark {
    background-color: #393319 !important;
    
    width: auto;
    margin: auto;
}

p {
    color: lightgray;
    font-family: Cal Sans sans-serif;
    font-size: 25px;
}

/* social links in footer */

.social-links {
    background-position: center center;
    background-size: cover;
    

}