/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Macondo&family=Oswald&display=swap');




/* google font style for h1/h2/h3 */
h1,
h2,
h3 {
    font-family: "Cal Sans", sans-serif;
}


/* Style the header banner image */
.hero {
    background-position: center center;
    background-size: cover;

    
    
}

/* the header banner text h3 */

}.hero-text {
    text-align: center;
}

/* navbar */
.navbar-custom {
    height: 80px;
    background-color: #393319; !important
}

.navbar-custom .nav-link {
    color: lightgray;
    font-family: "Macondo","Cal Sans", sans-serif;
    font-size: 20px;
}